
# /
/classes
/.manager
/build
/.settings
/dist
/lib_managed
/src_managed

# sbt
target/

# Intellij
.idea

# bloop
/.bsp/

.bloop/
.metals/
.vscode/
project/.bloop/
project/metals.sbt
project/project/
